a {border:0;color:#165596;cursor:pointer;text-decoration:underline;}
a.desc {text-decoration:underline;}
a:hover {text-decoration:underline;}
a.disabled {color:#9C9C9C;}
.waitlayer {position:absolute;visibility:hidden;left:0px;top:0px;width:100%;height:100%;z-index:20;}
.waitlayer td {background:url('e-bg.gif');font-size:11px;font-weight:bold;text-align:center;vertical-align:middle;}
.waitlayer td p span {background:#FFFFFF;padding:5px;}
.hintframe {display:none;position:absolute;z-index:9;}
.hint {background:#FFFFB2;border:solid 1px #43555F;color:#000000;left:0px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;padding:3px 5px 5px 5px;position:absolute;top:0px;visibility:hidden;width:170px;z-index:10;}
.hintspace {background:#FFFFFF;color:#000000;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;padding:0px;position:absolute;visibility:hidden;width:300px;z-index:11;}
body.main-body {background:#FFFFFF;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;overflow:hidden;padding:0px;}
/* CALENDAR */.cl {border-collapse:collapse;left:0px;position:absolute;top:0px;visibility:hidden;z-index:15;}
div.cl-cell {background:#FFFFFF;/*	border:solid 1px #4D80B6; */color:#000000;}
div.cl-ym-y {background:#FFFFFF;border:1px solid #4D80B6;left:0px;position:absolute;top:0px;visibility:hidden;width:35px;z-index:16;}
div.cl-ym-m {background:#FFFFFF;border:1px solid #4D80B6;left:0px;position:absolute;visibility:hidden;top:0px;width:35px;z-index:16;}
div.cl-ym-div {background:#FFFFFF;padding:1px 0px;cursor:default;text-align:center;}
div.cl-ym-diveven {background:#EFEFEF;padding:1px 0px;cursor:default;text-align:center;}
div.cl-ym-hover {background:#AFCAEC;}
div.cl-ym-selected {background:#4D80B6;color:#FFFFFF;}
table.cl-head {border-collapse:collapse;width:214px;}
table.cl-head td {background:#4D80B6;color:#FFFFFF;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;padding:3px 0px;text-align:center;}
td.cl-tool-td {background:#FFFFFF;border-top:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;border-right:1px solid #FFFFFF;cursor:default;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;}
td.cl-tool-hover {background:#AFCAEC;}
td.cl-tool-selected {background:#4D80B6;color:#FFFFFF;}
table.cl-days {border-collapse:collapse;width:100%;}
tr.cl-dayst-tr td {background:#AFCAEC;border-right:1px solid #FFFFFF;cursor:default;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;padding:3px 0px;text-align:center;width:14%;}
td.cl-days {background:#FFFFFF;border-right:1px solid #AFCAEC;cursor:default;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;}
td.cl-dayseven {background:#EFEFEF;border-right:1px solid #AFCAEC;cursor:default;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;}
td.cl-weekend {color:#E5693C;}
/**/td.cl-days-behind {background:#FFFFFF;color:#999999;border-right:1px solid #AFCAEC;cursor:default;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;}
td.cl-dayseven-behind  {background:#EFEFEF;color:#999999;border-right:1px solid #AFCAEC;cursor:default;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;text-align:center;}
td.cl-weekend-behind  {color:#999999;}
/**/td.cl-selected {background:#4D80B6;color:#FFFFFF;}
td.cl-hover {background:#AFCAEC;}
/* CALENDAR *//* EULA */div.eula-content {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;margin-top:20px;margin-bottom:20px;text-align:left;width:80%;}
h1.eula {font-size:16px;text-align:center;}
h2.eula {font-size:12px;}
p.eula {font-size:12px;text-align:justify;}
li.eula {font-size:12px;padding-bottom:6px;text-align:justify;}
/* EULA *//* PATH SYSBAR */td.wel-td-1 {background:#EFEFEF;}
td.wel-td-2 {background:#EFEFEF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding-left:10px;padding-right:20px;}
td.wel-td-2 td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;white-space:nowrap;}
img.path-img {margin-left:4px;margin-right:6px;}
td.wel-td-3 {background:#EFEFEF;border-left:4px solid #FFFFFF;padding-left:2px;padding-right:20px;}
td.wel-td-3 td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
img.sysbar-img {cursor:pointer;margin-left:18px;margin-right:6px;}
/* PATH SYSBAR *//* MENU */.menubar {background:url('menubar-bg.gif');background-repeat:no-repeat;border-right:1px solid #FFFFFF;}
table.menubar-table {margin:2px 0px 3px 0px;width:100%;}
.mbaron {background:url('menubar-onbg.gif');}
img.menubar-img {cursor:pointer;margin:3px;}
div.menupane {overflow:auto;overflow-y:scroll;height:100%;width:100%;}
table.menupane-table {height:100%;width:100%;}
td.menupane-table-menu {vertical-align:top;}
td.menupane-table-copy {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:10px 0px 3px 0px;text-align:center;vertical-align:bottom;}
div.menu-title {background:url('menu-bg.gif');cursor:pointer;padding-left:10px;background-repeat:no-repeat;}
td.menu-title-ch1 {padding-top:6px;}
td.menu-title-ch2 {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding-left:8px;padding-top:6px;padding-bottom:7px;background-repeat:no-repeat;}
div.menu-content {padding-bottom:17px;}
td.mb1 {background:url('menu-bul.gif');font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:34px;}
td.mb1-last {background:url('menu-bul-last.gif');font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:34px;}
td.m1 {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;line-height:12px;padding:4px 0px 0px 0px;}
td.m1-active {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;line-height:12px;padding:4px 0px 0px 0px;}
td.m1-active a {color:#000000;text-decoration:none;}
/* MENU *//* WORKAREA */.proplink {border:0;text-decoration:none;}
body.content-body {background:#FFFFFF;overflow:hidden;padding:0px;}
div.scrollDiv {background:#FFFFFF;overflow:scroll;overflow-y:scroll;overflow-x:auto;}
div.headDiv {background:#AFCAEC;height:28px;overflow:hidden;}
td.headSq {background:#AFCAEC;cursor:pointer;overflow:hidden;}
div.footDiv {background:#AFCAEC;overflow:hidden;}
td.footSq {background:#AFCAEC;cursor:pointer;overflow:hidden;}
div.backdiv {cursor:pointer;padding:2px;}
table.content-table {border-collapse:collapse;width:100%;}
table.content-table tbody.mainHead td {background:#AFCAEC;border-right:1px solid #FFFFFF;color:#000000;cursor:pointer;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;padding:3px;/* padding:7px 12px 8px 12px; */}
table.content-table tbody.mainHead td.lasttd {border-right-color:#AFCAEC;}
table.content-table tbody.mainHead td table.thtbl {width:100%;}
table.content-table tbody.mainHead td table.thtbl td.thtbl-1 {border:0px;padding:4px 0px 5px 9px;white-space:nowrap;}
table.content-table tbody.mainHead td table.thtbl td.thtbl-2 {border:0px;padding:4px 9px 5px 0px;text-align:right;}
table.content-table tbody.mainBody td {background:#FFFFFF;border-top:0px;border-bottom:0px;border-left:1px solid #AFCAEC;border-right:1px solid #AFCAEC;color:#000000;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;line-height:13px;padding:3px;}
table.content-table tbody.mainBody td.sel {background:#4D80B6;color:#FFFFFF;}
table.content-table tbody.mainBody td.unsel {background:#FFFFFF;color:#000000;}
table.content-table tbody.mainBody tr.even td {background:#EFEFEF;color:#000000;}
table.content-table tbody.mainBody tr.even td.sel {background:#4D80B6;color:#FFFFFF;}
table.content-table tbody.mainBody tr.even td.unsel {background:#EFEFEF;color:#000000;}
table.content-table tbody.mainFoot td {background:#AFCAEC;border-right:1px solid #FFFFFF;color:#000000;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;line-height:13px;padding:3px;/* padding:6px 12px 5px 12px; */}
table.content-table tbody.mainFoot td.lasttd {border-right-color:#AFCAEC;}
table.content-table td div {color:inherit;overflow:hidden;white-space:nowrap;}
table.content-table tbody.mainFoot td div {height:16px;padding:3px 9px 2px 9px;}
div.sepdiv {cursor:e-resize;position:absolute;width:3px;}
div.sepdiv2 {background:#DDDDDD;cursor:e-resize;position:absolute;width:3px;}
div.int {font-size:10px;padding:0px 3px;}
div.inl {background:#FFA5A5;height:3px;}
img.pimg {margin:0px 5px 0px 0px;}
table.content-table tbody.mainBody td div.status-red {color:#e5693c;}
table.content-table tbody.mainBody td.sel div.status-red {color:#FFFFFF;}
table.content-table tbody.mainBody td.unsel div.status-red {color:#e5693c;}
table.content-table tbody.mainBody td div.status-green {color:#00a656;}
table.content-table tbody.mainBody td.sel div.status-green {color:#FFFFFF;}
table.content-table tbody.mainBody td.unsel div.status-green {color:#00a656;}
table.content-table tbody.mainBody td div.status-blue {color:#4179cd;}
table.content-table tbody.mainBody td.sel div.status-blue {color:#FFFFFF;}
table.content-table tbody.mainBody td.unsel div.status-blue {color:#4179cd;}
table.content-table tbody.mainBody td div.status-yellow {color:#bfa136;}
table.content-table tbody.mainBody td.sel div.status-yellow {color:#FFFFFF;}
table.content-table tbody.mainBody td.unsel div.status-yellow {color:#bfa136;}
table.content-table tbody.mainBody td div.status-cyan {color:#00b0b2;}
table.content-table tbody.mainBody td.sel div.status-cyan {color:#FFFFFF;}
table.content-table tbody.mainBody td.unsel div.status-cyan {color:#00b0b2;}
/* WORKAREA *//* LOGIN */body.login-body {background:#FFFFFF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.login-table {margin-bottom:3px;width:245px;}
.login-title-l {width:8px;}
.login-title {background:#4D80B6 url('ft-center.png');color:#FFFFFF;font-size:12px;font-weight:bold;padding-left:10px;}
.login-title-r {width:8px;}
.login-content {background:url('login-bg.gif');border:1px solid #4D80B6;border-top:0px;}
.login-error-title {color:#C50000;font-size:11px;font-weight:bold;padding:3px;text-align:right;vertical-align:top;width:35%;}
.login-error-content {color:#C50000;font-size:11px;padding:3px;}
.login-field-title {color:#43555f;font-size:11px;padding:3px;text-align:right;width:35%;}
.login-field-content {color:#43555f;font-size:11px;padding:3px;}
.login-button {background:#D4D0C8;border-bottom:solid 1px #808080;border-left:solid 1px #FFFFFF;border-right:solid 1px #808080;border-top:solid 1px #FFFFFF;color:#393939;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;margin:10px 0px;padding:4px;}
.login-register {padding-bottom:12px;}
.login-input {border:solid 1px #9C9C9C;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;outline:4px;}
.login-copy {font-size:11px;}
table.login-help {margin:10px;}
table.login-help td {font-size:11px;}
/* LOGIN *//* TOOLBAR LINE*/td.toolline1 {width:76px;}
img.waimg {margin-left:14px;margin-right:14px;margin-bottom:15px;}
td.toolline2 {padding-bottom:13px;}
td.toolline2 div {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12pt;overflow:hidden;white-space:nowrap;}
td.toolline2 a {color:#000000;text-decoration:none;}
td.toolline2 a:hover {color:#165596;text-decoration:underline;}
td.toolline3 {}
div.btnlabel {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:9px;text-align:center;white-space:nowrap;}
td.toolbtn {background:#FFFFFF;border:1px solid #FFFFFF;padding:3px;}
td.toolbtn-act {cursor:pointer;}
td.toolbtn-sel {background:#EFEFEF url('toolbtn.gif') no-repeat;border-top:1px solid #EFEFEF;border-left:1px solid #EFEFEF;border-right:1px solid #ACAEB4;border-bottom:1px solid #ACAEB4;padding:3px;}
td.toolexp {background:#FFFFFF;border:1px solid #FFFFFF;}
td.toolexp-act {background:url('toolexp-act.gif') no-repeat;border:1px solid #FFFFFF;cursor:pointer;}
td.toolexp-sel {background:#EFEFEF url('toolexp-sel.gif') no-repeat;border-top:1px solid #EFEFEF;border-left:1px solid #EFEFEF;border-right:1px solid #ACAEB4;border-bottom:1px solid #ACAEB4;cursor:pointer;}
.addtoolbar {display:none;position:absolute;right:3px;z-index:5;}
.addtoolbar-pane {background:white;border:1px solid #ACAEB4;}
/* TOOLBAR LINE*//* BANNER */td.bannerTd1 {background:url('banner1.gif');border:1px solid #E9613C;height:45px;padding:0px 20px;}
td.bannerTd1 div {overflow:hidden;}
td.bannerTd2 {background:url('banner2.gif');border:1px solid #D5CE2C;height:45px;padding:0px 20px;}
td.bannerTd2 div {overflow:hidden;}
td.bannerTd3 {background:url('banner3.gif');border:1px solid #4CB647;height:45px;padding:0px 30px;}
td.bannerTd3 div {overflow:hidden;}
table.bannerTbl td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;}
td.banTd1 {padding-right:20px;width:1%;}
td.banTd2 {}
td.banTd3 {padding:0px 30px;width:1%;white-space:nowrap;}
td.banTd4 {width:1%;white-space:nowrap;}
/* BANNER *//* PAGER */div.pagerDiv {background:#EFEFEF;overflow:hidden;}
td.pager1 {padding:5px;padding-left:20px;}
td.pager2 {padding:5px;}
td.pager3 {padding:5px;padding-right:20px;}
table.pelemtbl {width:10px;}
table.pelemtbl td {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;padding:0px 3px;white-space:nowrap;}
span.pagenum {font-weight:bold;}
form.pagerform {padding:0px;margin:0px;}
.pbutton {background:#D4D0C8;border-bottom:solid 1px #808080;border-left:solid 1px #FFFFFF;border-right:solid 1px #808080;border-top:solid 1px #FFFFFF;color:#393939;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:normal;margin-left:0px;}
.pinput {border:solid 1px #9C9C9C;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;width:242px;}
/* PAGER *//* FILTER */div.filterDiv {background:#EFEFEF;}
.filterDivBorder {border-top:solid 1px #FFFFFF;}
td.filter1 {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;padding:5px;padding-left:23px;white-space:nowrap;width:1%;}
td.filter2 {padding:5px;}
table.filter2table {table-layout:fixed;}
table.filter2table div {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;overflow:hidden;white-space:nowrap;}
td.filter3 {padding:5px;padding-right:23px;width:1%;}
.fbutton {background:#D4D0C8;border-bottom:solid 1px #808080;border-left:solid 1px #FFFFFF;border-right:solid 1px #808080;border-top:solid 1px #FFFFFF;color:#393939;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;font-weight:normal;margin-left:0px;}
/* FILTER *//* FORM */.formlayer {height:100%;left:0px;position:absolute;top:0px;visibility:hidden;width:100%;z-index:5;}
td.formlayertd {background:url('e-bg.gif');}
td.ft-td1 {width:8px;}
td.ft-td2 {background:#4D80B6 url('ft-center.png');padding-left:15px;}
td.ft-td3 {background:#4D80B6 url('ft-center.png');text-align:right;width:20px;}
td.ft-td4 {background:#4D80B6 url('ft-center.png');text-align:right;width:20px;}
td.ft-td5 {background:#4D80B6 url('ft-center.png');text-align:right;width:20px;}
td.ft-td6 {width:8px;}
div.ftitle {color:#FFFFFF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;overflow:hidden;white-space:nowrap;width:300px;}
img.f-sysbar-img {cursor:pointer;}
.formlayer-table-content {background:#EFEFEF;border:1px solid #4D80B6;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:8px;border-top:0px;}
table.topform-table {border-collapse:collapse;table-layout:fixed;width:440px;}
.topform-table-content {background:#EFEFEF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:8px;border-bottom:1px solid #4D80B6;border-right:1px solid #4D80B6;}
.topform-table-content-div {border-left:1px solid #4D80B6;}
body.form-body {background:#EFEFEF;overflow:hidden;padding:0px;}
form {margin:0px;}
td.error-tbl-margins {padding:15px 20px 0px 20px;}
td.field-tbl-margins {padding:15px 20px;}
table.field-tbl {table-layout:fixed;width:100%;}
div.buttonsDiv {text-align:center;padding-bottom:10px;}
td.error-title {color:#C50000;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:3px;padding-right:8px;text-align:right;vertical-align:top;width:35%;}
td.error-content {color:#C50000;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;padding:3px;vertical-align:top;width:65%;}
td.field-title {color:#000000;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;text-align:right;padding-right:8px;width:35%;}
td.field-content {color:#000000;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;padding:3px;width:65%;}
td.field-content td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;}
div.fw-title {margin-bottom:3px;}
.button {background:#D4D0C8;border-bottom:solid 1px #808080;border-left:solid 1px #FFFFFF;border-right:solid 1px #808080;border-top:solid 1px #FFFFFF;color:#393939;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;margin:0px 10px;padding:4px;width:100px;}
.button-dis {background:#D4D0C8;border-bottom:solid 1px #808080;border-left:solid 1px #FFFFFF;border-right:solid 1px #808080;border-top:solid 1px #FFFFFF;color:#bcbcbc;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;margin:0px 10px;padding:4px;width:100px;}
.checkbox {margin-left:0px;}
.radio {margin-left:0px;margin-right:9px;}
.input {border:solid 1px #9C9C9C;float:left;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;height:17px;margin:0px;width:100%;}
.input2 {border:solid 1px #9C9C9C;border-right:0px;float:left;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;height:17px;margin:0px;width:100%;}
.listbox {border:solid 1px #9C9C9C;float:left;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;margin:0px;width:100%;}
.finput {background:#FFFFFF;border:1px solid #9C9C9C;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;height:17px;margin:0px;width:100%;}
.ffinput {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;margin:0px;}
textarea.textinput {border:solid 1px #9C9C9C;float:left;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;margin:0px;width:100%;}
td.desc {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;padding:0px 4px;}
td.textdata {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;}
div.htmldata {background:#FFFFFF;border:solid 1px #9C9C9C;overflow:auto;}
div.htmldata-in {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:3px;}
div.htmldata-in hr {background:#9C9C9C;border-width:0px;color:#9C9C9C;height:1px;}
div.chheight {cursor:n-resize;height:3px;}
td.textdata-warning {color:#C50000;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;}
img.input-img {cursor:pointer;}
.msg-delim {border-top:1px solid #9C9C9C;}
.support-msg {margin-bottom:20px;padding:5px;}
.support-msg .support-from {color:#00a656;}
.support-msg .support-date {color:#00a656;}
.support-msg .support-body {margin-top:10px;}
.support-msg .support-quote {text-align:right;}
.support-msg-admin {margin-bottom:20px;padding:5px 5px 5px 20px;}
.support-msg-admin .support-from {color:#e5693c;}
.support-msg-admin .support-date {color:#e5693c;}
.support-msg-admin .support-expense {color:#e5693c;}
.support-msg-admin .support-body {margin-top:10px;}
.support-msg-admin .support-quote {text-align:right;}
.support-msg-admin .radio-button {text-align:right;color:#133085;float:left;width:120px;}
table.callmgr {border-collapse:collapse;width:100%;background:#EFEFEF;}
th.callmgr {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;padding:5px 10px;}
div.call {width:100%;height:400px;overflow-y:scroll;background:#EFEFEF;border:solid 1px #4D80B6;}
table.callquestion {background:#EFEFEF;border-collapse:collapse;border:solid 2px #9C9C9C;width:100%;}
th.callquestion-num {border:solid 2px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:2px 5px;width:10px;}
th.callquestion{border:solid 2px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:2px 5px;text-align:left;}
td.callcheckbox {width:10px;border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:2px 5px;}
td.callanswer {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:2px 5px;}
table.productslist {border-collapse:collapse;width:99%;}
th.productslist {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:2px 5px;}
td.productid {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:2px 5px;text-align:right;}
th.callanswer {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;padding:2px 5px;}
td.productdescription {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:2px 5px;}
td.productstate {border:solid 1px #9C9C9C;text-align:center;}
td.productparent {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:2px 5px;}
td.productcomment {border:solid 1px #9C9C9C;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:2px 5px;}
/* FORM *//* FORM PAGE CONTROLS */td.pcontrol-sep {background:#4D80B6 url('ft-center.png');width:2px;}
td.pcontrol {cursor:pointer;}
td.pcontrol table tbody td.pcontrol-in-l {background:#C4D0DE url('pc-i-l.png');width:5px;}
td.pcontrol table tbody td.pcontrol-in-c {background:#C4D0DE url('pc-i-c.png');font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:normal;padding-top:1px;text-align:center;}
td.pcontrol table tbody td.pcontrol-in-r {background:#C4D0DE url('pc-i-r.png');width:5px;}
td.pcontrol-a table tbody td.pcontrol-in-l {background:#EFEFEF url('pc-a-l.png');width:5px;}
td.pcontrol-a table tbody td.pcontrol-in-c {background:#EFEFEF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;padding-top:1px;text-align:center;}
td.pcontrol-a table tbody td.pcontrol-in-r {background:#EFEFEF url('pc-a-r.png');width:5px;}
/* FORM PAGE CONTROLS *//* HELP */body.helpmenu-body {background:#EFEFEF;overflow:hidden;padding:0px;}
td.help-bg-pcontrol {background:#4D80B6 url('ft-center.png');padding:4px 2px 0px 2px;}
.help-inner-pane {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:8px;vertical-align:top;}
div.helpmenu table {border:0px;border-collapse:collapse;}
div.helpmenu table tbody td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;line-height:14px;padding:1px;vertical-align:top;}
div.helpmenu table tbody td.mhf {color:#165596;cursor:pointer;font-weight:bold;padding:3px 1px 1px 4px;text-decoration:underline;}
div.helpmenu table tbody td.mhfa {color:#000000;cursor:pointer;font-weight:bold;padding:3px 1px 1px 4px;}
div.helpmenu table tbody td.mhfi {}
div.helpmenu table tbody td.mhfia {background:url('h-m-bgf.gif');}
div.helpmenu table tbody td.mh {color:#165596;cursor:pointer;padding:3px 1px 1px 4px;text-decoration:underline;}
div.helpmenu table tbody td.mha {color:#000000;padding:3px 1px 1px 4px;}
div.helpmenu table tbody td.meb {background:url('h-m-bg.gif');background-repeat:repeat-y;}
div.helpmenu table tbody td.mebl {background:url('h-m-bull.gif');background-repeat:no-repeat;}
td.help-nav-1 {padding:2px 6px 1px 20px;width:24px;}
td.help-nav-2 {padding:2px 6px 1px 6px;}
td.help-nav-3 {padding:2px 6px 1px 6px;text-align:right;}
td.help-nav-4 {padding:2px 37px 1px 6px;width:36px;}
body.helpcontent-body {background:#FFFFFF;font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;padding:15px 20px;}
a.help {}
h1.help {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:16px;}
h2.help {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
h3.help {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;}
p.help {font-size:11px;text-align:justify;}
pre.helpcode {background:#EFEFEF;font-family:monospace;font-size:11px;margin-left:5%;overflow:auto;overflow-y:hidden;padding:10px;padding-bottom:20px;width:90%;}
.helpul-icon-td {padding:3px 8px 3px 15px;text-align:center;vertical-align:top;}
.helpul-content-td {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;padding:3px 0px 3px 0px;vertical-align:middle;}
/* HELP */body.report-body {background:#FFFFFF;padding:0px;}
.title-report {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:12pt;font-weight:bold;overflow:hidden;white-space:nowrap;width:100%;padding:20px 0px;}
.reportwait {font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:10pt;margin:20px 0px 10px 0px;position:absolute;text-align:center;top:45%;width:100%;}
.bandtitle0 {border-collapse:collapse;border-bottom:1px solid #ffffff;margin-top:10px;width:669px;}
.bandtitle0 td {background:#f4d0bc;height:40px;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;padding-left:10px;}
.bandtitle1 {border-collapse:collapse;border-bottom:1px solid #ffffff;width:669px;}
.bandtitle1 td {background:#AFCAEC;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:12px;padding:10px;}
.report-table {margin-bottom:20px;}
/* DOMAIN LIST */table.domaindocs {width:100%;}
td.domaindocsid {border:solid 1px #9C9C9C;padding:2px 5px;text-align:right;}
td.domaindocsimg {width:5%;background:#FFFFFF;border:solid 1px #9C9C9C;}
td.domaindocsname {background:#FFFFFF;border:solid 1px #9C9C9C;width:100%;text-align:center;}
/* DOMAIN LIST *//* DASHBOARD */.db-scrollDiv {padding:0px 5px;overflow-x:auto;overflow-y:auto;}
.db-block {}
.db-block-titlediv {background:#AFCAEC;}
.db-block-titlediv-titletd {font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;padding:6px 0px 7px 9px;}
.db-block-titlediv-icontd {background:#ddd;text-align:right;}
/* DASHBOARD */